.card {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  margin-bottom: 20px;
}

.image {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: block;
  object-fit: contain;
}

.text {
  padding: 10px;
}

.text p {
  margin-bottom: 0;
}

.text .shortDescription {
  margin-bottom: 10px;
}

.button {
  width: 100%;
  margin-top: 10px;
}

.price {
  font-size: 25px;
}